*/*All elements Different browsers use different default margins, causing sites to look different by margins so we are setting all elements to have zero margins, and zero padding, thus making them look the same in all browsers.*/ {
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image : linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../I.jpg);/*. The alpha parameter is a number between 0.0 (fully transparent) and 1.0 (fully opaque).*/
	height: 100vh;
	background-size: cover;
	background-position: center;


}

ul{
	float: right;
	list-style-type: none;
	margin: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease;/*ease here means slow in and slow out*/

}
ul li a:hover{
	background-color: #fff;/*white*/
	color:#000;
}
ul li .active a{
	background-color: #fff;
	color:#000;

}
.logo img{/*class - is represented ny  "." we are specifying  while id is represented by "#" */
	float:left;
	width:400px;
	height:auto;

}
.main{
	max-width:1200px;
	margin: auto;
}
.title
{
	position: absolute;
	top:30%;
	left:50%;
	transform:translate(-50%,-20%);
}
.title h1 {
	color:#fff;
	font-size: 50px;
}
.title h6{
	color: #fff;
	font-size: 30px;


}
.title p{
	color:#fff;
	font-size: 22px

}
.button{
	position: absolute;
	top:62%;
	left:50%;
	transform:translate(-50%,-50%);

}
.btn{
	border: 1px solid #fff;
	padding:5px 15px;
	color:#fff;
	text-decoration: none;
	transition:0.6s ease;

}
.btn:hover{
	background-color: #fff;
	color:#000;
}

